.addTaskPopUpContainer {
    background-color: grey;
    padding: 10px;
    margin-top: 20px;
}

.closeContainer {
    text-align: end;
}

.allInputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    margin: 0px 0px 10px 0px;
    font-size: 27px;
}

.buttonsContainer {
    margin-top: 10px;
}
.submitButton, .addOneMoreTaskButton {
    height: 30px;
    width: 200px;
}

.close, .addOneMoreTaskButton, .submitButton {
    cursor: pointer;
}